<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Websites" type="System.Configuration.AppSettingsSection"/>
  </configSections>
  <Websites>
    <add key="Google" value="http://www.google.com"/>
    <add key="Space.com" value="http://www.space.com"/>
    <add key="Edison Properties" value="http://edisonproperties.com"/>
    <add key="CNN" value="http://cnn.com"/>
    <add key="TV.com" value="http://www.tv.com"/>
    <add key="Netflix" value="http://netflix.com"/>
    <add key="Edprop (404)" value="http://edisonproperties.com/ErrorPage/"/>
    <add key="Edprop 2 (404)" value="http://edisonproperties.com/ErrorPageTest/"/>
    <add key="Netflix (Error)" value="http://ww.netflix.com"/>
    <add key="Yahoo!" value="http://www.yahoo.com"/>
    <add key="CNN (Error)" value="http://ww.cnn.codm"/>
    <add key="NASA" value="http://www.nasa.com"/>
  </Websites>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
</configuration>
