<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Websites" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <Websites>
    <add key="sdfdsf" value="http://dsfds" />
    <add key="Onet.pl" value="http://onet.pl" />
    <add key="Space.com" value="http://www.space.com" />
    <add key="Edison Properties" value="http://edisonproperties.com" />
  </Websites>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>