<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Websites" type="System.Configuration.AppSettingsSection"/>
  </configSections>
  <Websites>
    <add key="Google" value="http://www.google.com"/>
    <add key="CNN" value="http://cnn.com"/>
    <add key="Netflix" value="http://netflix.com"/>
    <add key="Yahoo!" value="http://www.yahoo.com"/>
    <add key="NASA" value="http://www.nasa.com"/>
  </Websites>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
</configuration>
